.grid{
    width: 600px;
    height:600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    width: 58px;
    height: 58px;
    border: 1px solid black;
}

.duck {
    background-image: url('../assets/1000_F_487086484_R96uiz0DYn5Am5YL12hz4ddQnkz82JzZ.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}